<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>Edit Task</h2>
        </div>
        <div class="card-body">
          <%= render "form", task: @task %>
        </div>
      </div>
    </div>
  </div>
</div>
